#rev,#pause
{
    border-width:2px;
    border-style: solid;
    text-decoration:none;
    padding:3px;
    margin:2px;
    float:left;
}

#rev:hover ,#pause:hover{
       background-color:#C8C8C8;
}

#data
{
    clear:both;
}
