#rev,#pause,#input,#search
{
    border-width:2px;
    border-style: solid;
    padding:3px;
    margin:2px;
    float:left;
}

#input,#search
{
    float:right;
}

#input
{
    width:20em;
    padding:4px;
}

#search:hover,#rev:hover,#pause:hover{
       background-color:#C8C8C8;
}

#data
{
    clear:both;
}
